<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELEGIAS</title>
    <link rel="shortcut icon" href="../static/imagens/icone.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/pagina_principal/estilo.css">
</head>
<body>
    <header>
        <a href="/" style="text-decoration: none;">
            <div id="logo" class="itens_header">
                <img id="img_logo" src="../static/pagina_principal/imagens/header/icone.png" alt="">
                <h1>Elegias</h1>
            </div>
        </a>
        <nav id="nav_normal" class="itens_header">
            <a class="links" href="#mundo_e_ambientação">Mundo & Ambientação</a>
            <p>·</p>
            <a class="links" href="#politicas_e_reinos">Políticas & Reinos</a>
            <p>·</p>
            <a class="links" href="#nusariyas">Nusariyas</a>
        </nav>
        <div id="wiki" class="itens_header">
            <a class="links" href="/wiki">
                <img id="img_logo_wiki" src="../static/pagina_principal/imagens/header/wiki.png" alt="">
            </a>
        </div>
    </header>
    <nav id="nav_tela_p">
        <a class="links" href="#mundo_e_ambientação">Mundo & Ambientação</a>
        <p>·</p>
        <a class="links" href="#politicas_e_reinos">Políticas & Reinos</a>
        <p>·</p>
        <a class="links" href="#nusariyas_title">Nusariyas</a>
    </nav>
    <main>
        <div id="tela_fundo">
            <p>Bem vindo ao</p>
            <h1>ELEGIAS</h1>
        </div>
        <div id="mundo_e_ambientação">
            <p>
                De Daṣaba a Ganazla se perpetua uma nefasta penumbra parida há quase três décadas atrás, quando o mundo já infesto pelas mazelas racionais e naturais tornou-se ainda mais temeroso, destroçando qualquer elã e ensejo uma vez construído sob este.
            </p>
            <p>
                O arrais desta nefasta era não poupa as terras que alcança - dos vastos e florais campos férteis em Jivana até os profundos aguaçais gélidos de Menschbiez, ouve-se somente os bufos e relinchos dos corcéis que conduzem a fome, a doença e a guerra nos seus dorsos e cernelhas adornados em ouro dos sangue-azul, causadores deste período tão maldito.
            </p>
            <p>
                As terras pairam com distintas silhuetas cruéis; em Aljanubia, os seres racionais tornam-se algozes de sí mesmos - em troca de prata ou ouro há quem cuspa no prato que comeu e entregue tudo aquilo que lhe sustentou aos mazelados, que por outro lado desprezam tão profundamente seus similares que desenvolvem a cínica concepção da sua superioridade, não como pessoa, mas sim como raça e estirpe, delimitando o mais nefasto pensamento tirano e subjugador da história.
            </p>
            <p>
                Em Rakyadhavati, a beligerância aplásica dizima terras que medraram por milênios, promulgando a maior guerra que estes territórios viram desde a Era Manancial, período que até poucas décadas se via tão distante quanto a era em que os seres racionais tomaram o mundo para si.
            </p>
            <p>
                Nas largas penínsulas e deltas que regeram o mundo até poucos anos se observa depois de mundo tempo o serviçal tornar-se rei, consequentemente adotando a volúpia e cobiça reservada a estes, execrando as recentes guerras lutadas por seu povo e admitindo seu incessante desejo pelo poder que uma vez o negou como parte do mundo.
            </p>
            <p>
                Nas terras do norte, desde os vales de Dianaflere até as amplas estepes Türük foram atingidas de tal maneira pelas mazelas que praticamente já não existe pilar sólido para a habitação naquelas terras; as doenças, as guerras internas e externas, as maldições e o frio é tamanho que por inteiros anos não existem colheitas ou caçadas suficientes para tão pequenos agrupamentos, forçados a se locomover para os últimos refúgios produtivos daquele pedaço de mundo, onde sua mera presença é tão detestada quanto a de uma criatura feral.
            </p>
            <p>
                Por fim, há a terra dos déspotas, onde a riqueza consegue ser maior que toda população de seres vivos ali concentrados, onde as disputas entre peões e nobres são tão comuns quanto o nascer da Lua ao horizonte; mesmo assim, petulantes e cínicos como são, os fidalgos se recusam a crer na capacidade daqueles que sustentam cada uma de suas bases, optando pelo vago e estéril luxo ao constante desenvolvimento viável somente naquelas terras.
            </p>
            <p>
                Entretanto, neste mar de agouro e agonia nascem não somente desgraçados e miseráveis, mas como também elementos louváveis e diligentes, dotados de habilidades e dons que coordenam além de seus próprios corpos, formando inteiras legiões norteadas por um obscuro elã ofuscado e assediado pela fome e a riqueza, redirecionadas pelo estridente guincho que reluz nos estandartes carregados por estes ídolos, campeões e heróis, os quais carregam em suas garras os quatro frágeis pilares regentes do mundo.
            </p>
            <div id="mundo">
                <span id="voltar">&lt;</span>
                <div id="imagens_mundo">
                    <h1 id="imagem_mundo_h1">
                        Al-Qūtgītān - Dianaflere
                    </h1>
                </div>
                <span id="seguir">></span>
            </div>
        </div>
        <h1 class="titulos_categorias" id="politicas_e_reinos">ÍNDICE</h1>
        <div id="indice">
            <div class="campanhas_titulo">
                <h2>I</h2>
                <div class="icone_campanha icone1"></div>
            </div>
            <div class="campanhas_titulo">
                <h2>II</h2>
                <div class="icone_campanha icone2"></div>
            </div>
            <div class="campanhas_titulo">
                <h2>III</h2>
                <div class="icone_campanha icone3"></div>
            </div>
            <div class="campanhas_titulo">
                <h2>IV</h2>
                <div class="icone_campanha icone4"></div>
            </div>
            <div class="campanhas_titulo">
                <h2>V</h2>
                <div class="icone_campanha icone5"></div>
            </div>
        </div>
        <h1 class="titulos_categorias">COROAS E ESTANDARTES</h1>
        <div id="reinos">
            <div class="reinos_detail">
                <div class="titulo_reinos">
                    <h1>Impérios<br>Hegemônicos</h1>
                    <span class="icone_mais"></span>
                </div>
                <ul class="lista_reinos">
                    <li>
                        Aktasyankah Aryāvarta
                    </li>
                    <li>
                        Ātarxšapviyān
                    </li>
                    <li>
                        Dà Yùgōng
                    </li>
                    <li>
                        Ḍēcārajyam Valamāna
                    </li>
                    <li>
                        Esinhamuzhira Salṭāna
                    </li>
                    <li>
                        Göndar Ülüş
                    </li>
                    <li>
                        Grant-Duché Dexvuel
                    </li>
                    <li>
                        Khilāfah Zahridi
                    </li>
                    <li>
                        Sundiata Mansaya
                    </li>
                </ul>
            </div>
            <div class="reinos_detail">
                <div class="titulo_reinos">
                    <h1>
                        Impérios<br>Inferiores
                    </h1>
                    <span class="icone_mais"></span>
                </div>
                    <ul class="lista_reinos">
                    <li>
                        Cai Ho Guaif
                    </li>
                    <li>
                        Ēxcān Tlacetīzolin
                    </li>
                    <li>
                        Keemandirani Kamaharajaan
                    </li>
                    <li>
                        Kwa Isoshanzalo
                    </li>
                    <li>
                        Mairi Faraswá
                    </li>
                    <li>
                        Miðgarðar Vinfengi
                    </li>
                    <li>
                        Nagyfejedelemség Voragodistannia
                    </li>
                    <li>
                        Rgyal Srid Lamrim Bön
                    </li>
                    <li>
                        Tawantinsuyu Kurmi
                    </li>
                </ul>
            </div>
            <div class="reinos_detail">
                <div class="titulo_reinos">
                    <h1>
                        Reinos<br>Centrais
                    </h1>
                    <span class="icone_mais"></span>
                </div>
                <ul class="lista_reinos">
                    <li>
                        Agïŕbörü Gölinsarai
                    </li>
                    <li>
                        As-Masrid Salṭāna
                    </li>
                    <li>
                        Bakufu Hikoyai
                    </li>
                    <li>
                        Bakwai Tsakani
                    </li>
                    <li>
                        Hvāṣṭa Rrustä Wārhakan
                    </li>
                    <li>
                        Kanyaza Khi
                    </li>
                    <li>
                        Léofolde Cynedom
                    </li>
                    <li>
                        Mänəgəśətä Kokäbyämlak
                    </li>
                    <li>
                        Nādigājah Rājya
                    </li>
                    <li>
                        Orílẹ̀ Ọba Ọran
                    </li>
                    <li>
                        Raj Viśvadr̥śya
                    </li>
                    <li>
                        Vēḷ Mīnpital Raj
                    </li>
                    <li>
                        Visiwapwani Salṭāna
                    </li>
                    <li>
                        Xiānjīkāng Lhe
                    </li>
                    <li>
                        Yochöl-Burun Ïduqutliği
                    </li>
                    <li>
                        Yóok'Eek Ka'a
                    </li>
                    <li>
                        Ẓaymjadh Imāra
                    </li>
                </ul>
            </div>
            <div class="reinos_detail">
                <div class="titulo_reinos">
                    <h1>Reinos<br>Inferiores</h1>
                    <span class="icone_mais"></span>
                </div>
                <ul class="lista_reinos">
                    <li>
                        Baanuman
                    </li>
                    <li>
                        Budūrālāf Samraja
                    </li>
                    <li>
                        Bukalenge Mutyiuba
                    </li>
                    <li>
                        Curhoh K'Èralyg'Uè
                    </li>
                    <li>
                        Daeguk Sàgjeon
                    </li>
                    <li>
                        Đại Cồ Cho
                    </li>
                    <li>
                        Irékuruchi
                    </li>
                    <li>
                        Kāinga o Anahuru
                    </li>
                    <li>
                        Mahakosh Keinduin
                    </li>
                    <li>
                        Morghaenalisid Ṧāhí
                    </li>
                    <li>
                        Pag-Bi-Tõogrã Rĩungã
                    </li>
                    <li>
                        Qannıq Tymyšar
                    </li>
                    <li>
                        Rhomania Pólis
                    </li>
                    <li>
                        Tukneibrasa
                    </li>
                    <li>
                        Wārdana Axšēðyā
                    </li>
                    <li>
                        Zvakandziro Umambo
                    </li>
                </ul>
            </div>
            <div class="reinos_detail">
                <div class="titulo_reinos" id="tirar_borda">
                    <h1>Cidades-<br>Estado</h1>
                    <span class="icone_mais"></span>
                </div>
                <ul class="lista_reinos">
                    <li>
                        Aférisuq
                    </li>
                    <li>
                        Alasora
                    </li>
                    <li>
                        Blednyj Voróta
                    </li>
                    <li>
                        Caonaguey
                    </li>
                    <li>
                        Fouargla
                    </li>
                    <li>
                        Hakravi
                    </li>
                    <li>
                        Ixikia Kiluanji
                    </li>
                    <li>
                        Kai'u'Lani
                    </li>
                    <li>
                        Kolodnigrad
                    </li>
                    <li>
                        Kusalaye
                    </li>
                    <li>
                        Lipikampurarpa
                    </li>
                    <li>
                        Novos Reinos de Thisung Tawxyu
                    </li>
                    <li>
                        Otjindombo
                    </li>
                    <li>
                        Panyumay
                    </li>
                    <li>
                        Refúgio de Mairgobaith
                    </li>
                    <li>
                        Reinos de Zumurrdfugra
                    </li>
                    <li>
                        República de Raveneana
                    </li>
                    <li>
                        República de Zêneana
                    </li>
                    <li>
                        Tamanabytyra
                    </li>
                    <li>
                        Tidigudar
                    </li>
                    <li>
                        Zaramasīra
                    </li>
                </ul>
            </div>
        </div>
        <h1 id="nusariyas_title">NUSARIYAS</h1>
        <div id="nusariyas" class="divisoes_nusa">
            <div id="refrataria">
                <h2>
                    Divisão Refratária
                </h2>
                <div class="nusariyas_fotos">
                    <div class="fotos"></div>
                    <div class="fotos"></div>
                    <div class="fotos"></div>
                    <div class="fotos"></div>
                    <div class="fotos"></div>
                </div>
            </div>
            <div id="subordinada" class="divisoes_nusa">
                <h2>
                    Divisão Subordinada
                </h2>
                <div class="nusariyas_fotos">
                    <div class="fotos"></div>
                    <div class="fotos"></div>
                    <div class="fotos"></div>
                    <div class="fotos"></div>
                    <div class="fotos"></div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <img src="../static/pagina_principal/imagens/footer/Logo_Texturizado_Gotico_Preto.png" alt="">
        <p>
            Pcburilli
        </p>
        <img src="../static/pagina_principal/imagens/footer/Logo_Raposo_Preta.png" alt="">
        <p>
            Raposo
        </p>
    </footer>
    <script src="../static/pagina_principal/javascript.js"></script>
</body>
</html>