<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki</title>
    <link rel="stylesheet" href="../static/wiki/estilo.css">
</head>
<body>
    <header>
        <a href="/" style="text-decoration: none;">
            <div id="logo" class="itens_header">
                <img id="img_logo" src="../static/wiki/imagens/header/icone.png" alt="">
                <h1>Elegias</h1>
            </div>
        </a>
        <nav id="nav_normal" class="itens_header">
            <a class="links" id="carlos" href="#">Carlos</a>
        </nav>
        <div id="wiki" class="itens_header">
            <a class="links" href="/wiki">
                <img id="img_logo_wiki" src="../static/wiki/imagens/header/wiki.png" alt="">
            </a>
        </div>
    </header>
    <nav id="nav_tela_p">
        <a class="links" href="/">Página Inicial</a>
        <p>·</p>
        <a class="links" href="#">Carlos</a>
    </nav>
    <script src="../static/wiki/javascript.js"></script>
</body>
</html>